@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*:root{
  --primary-color: #101010;
  --secondary-color: #181818;
  --white-color: #fff;
  --contrast-color: #543884;
  --error-color: #F44336;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
  color: var(--white-color);
}


body{
  background-color: var(--primary-color);
}

button{
  width: 100%;
  height: 35px;
  background-color: var(--contrast-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
}

button:disabled{
  opacity: 0.5;
}

.chip-error{
  width: 100%;
  color: var(--white-color);
  background-color: var(--error-color);
  height: 30px;
  align-items: center;
  padding: 2px;
}

.container{
  width: 100%;
}

.p-30{
  padding: 30px;
}

.mb-15{
  margin-bottom: 15px;
}

.mt-15{
  margin-top: 15px;
}

.border-radius-ex{
  border-radius: 10px;
}

.border-radius-in, .chip-error{
  border-radius: 5px;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.center-content{
  justify-content: center;
  align-items: center;
}

.txt-center{
  text-align: center;
}

.dark-color{
  color: var(--secondary-color);
}

.container-form{
  background-color: var(--white-color);
  width: 100%;
  margin-inline: 10px;
}

.user-box {
  position: relative;
  margin-bottom: 25px;
  margin-top: 30px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--contrast-color);
  color: var(--primary-color);
  outline: none;
  background: transparent;
}

.user-box label {
  
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  pointer-events: none;
  transition: .3s;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -20px;
  left: 0;
  color: var(--primary-color);
  font-size: 14px;
}


@media screen and ( min-width: 768px ) {
  
  .container-form{
    width: 50%;
  }
}